<div class="border"></div>
<div class="wrapper">
    <header class="main_header clearfix">
        <div class="logo">
            <img src="https://s28.postimg.org/flqg68on1/smile.png" alt="Smile">
            <h1> Codepen <span>Jobs</span></h1>
        </div>
        <div class="nav">                
            <a href="http://naimjeem.jefcorp.com/">My Website</a>
            <a href="https://github.com/naimjeem">Github</a>
            <a href="https://codepen.io/naimjeem/">Codepen</a>
            <a href="https://www.linkedin.com/in/naimjeem">Linkedin</a>
            <a href="https://twitter.com/naim_jeem">Twitter</a>
        </div>
    </header>
    <ul id="timeline">
        <div *ngFor="let item of pagedItems; let i = index">
            <a href="{{item.url}}" target="_blank">
                <li class="listing clearfix">
                <div class="info">
                    <span class="job_title">{{item.title}}</span>
                    <span class="job_info">{{item.company_name}}</span>
                </div>
                <span class="job_type term">{{ item.term }}</span>
                </li>
            </a>
        </div>
    </ul>
</div>